.container-popup{
    min-height: 100vh; 
}

.container-header{
  background-color: rgb(65, 64, 64);
  padding-bottom: 20px;
  color: white;
}

h2{
    color: white;
    text-align: center;
    margin-bottom: 0.5em;
    font-family: 'Varela Round', sans-serif;
}

.container-description{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 1em;
}
@media only screen and (min-width: 900px) {
    .container-description{
        flex-direction: row;
        padding: 0 50px 0 20px;  
        margin-top: 4em;
    }
}

.miniature {
  width: 100%;
  height: 300px;
  object-fit:contain;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.252);
}

@media only screen and (min-width: 1200px) {
    .miniature {
        height: 500px;
        width: 500px;
    }
}
.small-image{ 
  width: 100px; 
  margin-right: 10px;
  cursor: pointer;
}

.container-gauche{
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1200px) {
    .container-gauche{
        width: 40%;
    }
}
.container-all-image{
  display: flex;
  margin-top:1em;
  background-color: rgb(65, 64, 64);;
}
@media only screen and (min-width: 1200px) {
  .container-all-image{
    width: 500px;
  }
}


.container-droite{
  overflow: hidden;
  margin-left: 0.2em;
  margin-top: 3em
}
@media only screen and (min-width: 900px) {
  .container-droite{
    margin-left: 6em;
    margin-top:0
  }
}
.container-github{
  display: flex;
  align-items: center;
  cursor: pointer;
  border-left: 2px dotted rgb(65, 64, 64);
}

svg:hover{
  fill:rgb(141, 16, 74);
}

.contour{
  border:4px solid rgb(141, 16, 74);
}

svg{
  width: 50px;
  height: 50px;
  transition: 0.2s ease-in-out;
  fill: rgb(241, 206, 211);
  margin-left: 1em;
}

.close{
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 3em;
}

@media only screen and (min-width: 600px) {
  .close{
    margin-bottom: 0;
  }
}

.closeButton{
  cursor: pointer;
  font-size: 20px;
  transition: 0.2s ease-in-out;
  color:white;
  font-size: 40px;
  height: 40px;
  width: 40px;
  margin: 10px;
}

.closeButton:hover{
  color:rgb(141, 16, 74);
}
@media (min-width: 1000px) {

  a{width: 20%;}
}

@media only screen and (min-width: 1200px) {
  .description-addon{
     border: 3px solid rgb(241, 206, 211);
    color: black;
    padding: 25px;
    border-radius: 20px;
  }
}